_Examples_/JavaEETutorial6/src/main/resources/glassfish/docs/javaee-tutorial/examples/jaxws/webclient/web/WEB-INF/wsdl/localhost_8080/helloservice/HelloService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://endpoint.helloservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://endpoint.helloservice/">

<xs:element name="Hello" type="tns:Hello" />

<xs:element name="HelloResponse" type="tns:HelloResponse" />

<xs:element name="sayHello" type="tns:sayHello" />

<xs:element name="sayHelloResponse" type="tns:sayHelloResponse" />

<xs:complexType name="sayHello">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sayHelloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Hello">
<xs:sequence />
</xs:complexType>

<xs:complexType name="HelloResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>